/GeoClient/node_modules/
/GeoClient/dist/
/GeoClient/.vscode/

/GeoClient/.angular/cache/

/.vscode/
/.idea/
/.vs/


/son/bin/
/son/obj/
/son/*.csproj.user
/son/.vs/

/.git/
.DS_Store
*.suo
*.user
*.userosscache
*.sln.docstates


npm-debug.log*
yarn-debug.log*


*.tmp
*.log
*.swp